* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url("https://images5.alphacoders.com/125/1259528.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* Aquí comienzan los estilos del header */
.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(71, 71, 71, 0.444);
    /* margin: 20px; */
    border-radius: 10px;
    border: 2px solid #2C3639;
    margin: 10px;
}
/* Estilos de las imagenes de los costados */
.img-rick, .img-morty {
    width: 200px;
    height: 200px;
    margin: 5px;
    border: 2px solid #2C3639;
}
/* Estilos imagen de titulo */
.img-tittle {
    width: 380px;
}
/* Estilos de menu de navegación */
.container-nav-list {
    display: flex;
    justify-content: center;
}
.nav-list {
    list-style: none;
}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    gap: 4rem;
}
li {
    border-radius: 10px;
    padding: 5px;
}
a {
    text-decoration: none;
}
/* Aquí comienzan los estilos del Main */
.container-main {
   padding: 30px;
   display: flex;
   border-radius: 10px;
   background-color: rgba(71, 71, 71, 0.444);
   border: 2px solid #2C3639;
   margin: 10px;
   text-shadow: -9px 4px 9px rgba(0,0,0,0.51);
   color: #02b1c8;
}
img {
    width: 285px;
    border-radius: 10px;
    overflow-clip-margin: content-box;
    overflow: clip;
}
/* Estilos de la caja de sinopsis */
.container-synopsis{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    margin-left: 5px;
}
.synopsis-tittle {
    font-size: 50px;
    text-align: center;
    margin: 10px;
}
.synopsis-text {
    font-size: 40px;
    margin: 10px;
    text-align: justify;
}
.container-sdata {
    margin: 10px;
}
.synopsis-data {
    font-size: 30px;
}
.usa-flag {
    width: 25px;
    border: 2px solid #2C3639;
}
.tittle-characters {
    background-color: rgba(71, 71, 71, 0.444);
    border: 2px solid #2C3639;
    color: #02b1c8;
    border-radius: 10px;
    font-size: 40px;
    text-align: center;
    margin: 10px;
}
/* Estilos de las cajas de los personajes */
#container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
.item-grid {
    width: 280px;
    background-color: rgba(255, 255, 255, 0.444);
    color: rgb(52, 61, 138);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 4px 56px 17px rgba(0,0,0,0.81);
    -webkit-box-shadow: 3px 4px 56px 17px rgba(0,0,0,0.81);
    -moz-box-shadow: 3px 4px 56px 17px rgba(0,0,0,0.81);
}
.item-grid:hover {
    background-color: rgba(95, 94, 94, 0.444);
    transition: ease .3s;
}
.item-grid img {
    width: 100%;
    border-radius: 50%;
  }
  
  /* Estilos footer */
  .container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    text-shadow: -9px 4px 9px rgba(0,0,0,0.51);
    color: #02b1c8;
  }
  .text-container-footer {
    font-size: 30px;
    margin-left: 5px;
  }
  .container-personal-data {
    margin: 30px;
    gap: 5px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: -9px 4px 9px rgba(0,0,0,0.51);
    color: #02b1c8;
  }
  .ppdata {
    margin-top: 5px;
  }
  a {
    text-decoration: none;
    color: #02b1c8;
    font-weight: bold;
  }
  .github {
    text-align: right;
    font-size: 30px;
    color: red;
    font-weight: bold;
    text-shadow: -9px 4px 9px rgba(0,0,0,0.51);
    margin-right: 20px;
  }
  .fa-solid {
    color: #1d5798;
    margin-right: 5px;
    font-size: 20px;
  }
  .footer-tittles{
    color: rgb(221, 5, 210);
  }
  /* Responsive Design para Móviles */
  @media(max-width:440px){
    body {
        display: inline-block;
    }
    .container-header {
        display: block;
        justify-content: center;
        text-align: center;
    }
    .container-nav-list{
        display: block;
    }
    ul {
        display: block;
        margin: 20px;
    }
    li {
        margin-top: 5px;
        border-radius: 0px;
        background-color: rgba(95, 94, 94, 0.444);
    }
    .container-main {
    display: block;
    text-align: center;
   }
   .container-synopsis {
    text-align: justify;
   }
    .synopsis-text{
    text-align: center;
   }
   .container-footer{
    display: block;
    text-align: center;
   }
  }
  /* Responsive Design para Tablets */
  @media(max-width:880px){
    body {
        display: block;
    }
    .container-header {
        display: block;
        text-align: center;
    }
    .container-main {
        display: block;
        text-align: center;
    }
    .container-footer {
        display: block;
        text-align: center;
    }
  }
  /* Media para que no se rompa en pantallas menores a 1250px */
  @media(max-width:1250px){
    body{
        display: block;
    }
    .container-header {
        display: block;
        text-align: center;
    }
    .container-main {
        display: block;
        text-align: center;
    }
  }